html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(185, 183, 183);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: auto;
}

/* navigation bar */

.navbar {
    display: flex;
    background-color: black;
    align-items: center;
    border-bottom: solid 1px white;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    position: fixed;
    width: 100%;
}

.header-logo img {
    height: auto;
    width: 150px;
    margin-right: auto;
    padding: 10px 5px 10px 60px;
}

.header-link {
    display: flex;
    margin-left: auto;
}

.header-link a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 0 25px 0 0;
    display: block;
}

.header-link a:hover {
    text-shadow: 0 0 5px ;
    cursor: grab;
    color: rgb(242, 242, 154);
  }

/* contact section */

.container {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(images/contact.jpg);
    background-position: center;
    background-size: cover;
    height: 700px;
}

h1 {
    text-shadow: 2px 2px 0px rgb(255, 255, 255);
}

.contact-section {
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 0 8px rgb(0, 0, 0);
    width: 600px;
    height: 500px;
    background: rgba(255, 255, 255, 0.65);
    padding: 20px; 
    display: flex;
    font-size: 20px;
}

.first-name {
    color: aqua;
}



  /* footer section */

.footer {
    display: flex;
    background-color: black;
    border-top: solid 1px white;
    box-shadow: 0 0 5px black;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 24px;
}