html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(185, 183, 183);
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    overflow-y: scroll;
    overflow-x: auto;
}

/* navigation bar */

.navbar {
    display: flex;
    background-color: black;
    align-items: center;
    border-bottom: solid 1px white;
    box-shadow: 0 0 10px rgb(0, 0, 0);
    position: fixed;
    width: 100%;
}

.header-logo img {
    height: auto;
    width: 150px;
    margin-right: auto;
    padding: 10px 5px 10px 60px;
}

.header-link {
    display: flex;
    margin-left: auto;
    transition: 100ms;
}

.header-link a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    padding: 0 25px 0 0;
    display: block;
}

.header-link a:hover {
    text-shadow: 0 0 5px ;
    cursor: grab;
    color: rgb(242, 242, 154);
    transform: scale(1.2);
    transition: 100ms;
  }

  /* introduction section */

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid white 1px;
    background-image: url(images/backgrounds.jpg);
    background-size: cover;
    background-position: center;
    height: 800px;
    flex: auto;
}

.left-box {
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    border: solid 2px black;
    box-shadow: 0 0 40px black;
    background: rgba(255, 255, 255, 0.65);  /* adding alpha at end of rgb allows to specify opacity of just background and not text */
    color: black;
    margin: 20px;
    height: 500px;
    border-radius: 10%;
    justify-content: center;
    align-items: center;
    flex: auto;
}

.buyer-list {
    list-style-image: url(images/key.svg);
    font-size: 25px;
    padding-bottom: 15px;
}

.contact a {
    background-color: white;
    border: solid 2px black;
    border-radius: 12px;
    padding: 4px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: black;
}

.contact a:hover {
    cursor: grab;
    background-color: rgb(32, 26, 121);
    color: white;
    transition: 100ms;
    transform: scale(1.2);
}

.heading-pic img {
    border-radius: 10%;
    border: solid black;
    box-shadow: 0 0 40px black;
    width: 400px;
    height: auto;
    border: solid black;
    margin: 50px 50px 5px 0; 
    flex-flow: row wrap;
}

.bio {
    border-radius: 10%;
    border: solid black;
    background: rgba(255, 255, 255, 0.65);
    box-shadow: 0 0 40px black;
    margin: 5px 50px 10px 0;
    border: solid black;
    padding: 0 5px 5px 10px;
    text-align: center;
}

/* listings section */

.featured {
    text-align: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    height: 70px;
    margin: 0;
    padding: 0;
    border: solid whitesmoke 3px;
    box-shadow: 0 0 5px gray;
}

.listings {
    display: flex;
    flex-flow: row wrap;
    flex-direction: row;
    background: linear-gradient(0.25turn, rgb(26, 25, 25), rgb(168, 137, 137), beige);
    text-align: center;
    justify-content: center;
    height: 370px;
}

.home {
    box-shadow: 0 0 5px white;
    background-color: white;
    height: 300px;
    width: 320px;
    margin: 35px 10px 35px 10px;
    
}

.home-icon {
    height: 200px;
    margin: 10px 10px 5px 10px;
    max-width: 100%;
}

/* testimonial section */

.testimonial {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    padding-top: 40px;
}

.testimonial-body {
    padding: 40px 150px 40px 150px;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
}

.testimonial-body p {
    text-align: right;
    justify-content: right;
    font-size: 20px;
    font-weight: bold;
    margin: 10px 50px 0 0;
    color: rgb(163, 142, 80);
}

/* contact section */

.contact-section {
    display: flex;
    background-color: rgb(126, 120, 77);
    justify-content: center;
}

.contact-box {
    display: flex;
    border: solid 5px black;
    border-radius: 40px;
    background-color: rgb(189, 180, 128);
    margin: 100px;
    padding: 50px;
    align-items: center;
}

.contact-text h2 {
    color: rgb(255, 255, 255);
    text-shadow: 0 0 3px black;
    font-size: 30px;
}

.contact-text p {
    color: rgb(255, 255, 255);
    font-size: larger;
}

.contact-button a {
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: rgb(0, 0, 0);
    width: 120px;
    height: 40px;
    margin-left: 40px;
    border: double 5px black;
    border-radius: 8px;
    font-weight: 500;
    background-color: white;
}

.contact-button a:hover {
    background-color: rgb(252, 115, 41);
    font-weight: 800;
    cursor: pointer;
    border-color: rgb(255, 255, 255);
    color: white;
    transform: scale(1.2);
    transition: 100ms;
}

/* footer section */

.footer {
    display: flex;
    background-color: black;
    border-top: solid 1px white;
    box-shadow: 0 0 5px black;
    color: white;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

@media (min-width: 500px) {
    body {
        display: flex;
        height: 100%;
    }
}